
.popup__form-close {
  width: 39px;
  height: 39px;
  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -45px;
}
.close-image {
  width: 39px;
  height: 39px;
  position: absolute;
  top: 55px;
  right: 350px;
  cursor: pointer;
}
.popup__form-itens {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto;
}

.popup__form-title {
  width: 330px;
  height: 23px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  color: #000;
  margin: 0 36px;
}

.popup__form-name {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #000;
  margin: 54px 36px 0;
}

.popup__form-job {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #000;
  margin: 29px 36px 48px;
}

@media (max-width: 768px) {
  .popup__form-close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -40px;
    right: 10px;
  }
  .popup__form-itens {
    width: 350px;
    margin: 150px auto 0;
  }
  .popup__form-title {
    width: 238px;
    height: 23px;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    text-align: left;
    color: #000;
    margin: 25px auto 0;
  }
  
  .popup__form-name {
    width: 238px;
    height: 26px;
    border: none;
    border-bottom: 1px solid #000;
    margin: 54px 36px 0;
  }
  
  .popup__form-job {
    width: 238px;
    height: 26px;
    border: none;
    border-bottom: 1px solid #000;
    margin: 29px 36px 0;
  }
}