.profile__title {
  width: 100%;
  max-width: 410px;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin: 0 18px 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 768px) {
  .profile__title {
    width: 196px;
    height: 22px;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    padding-left: 25px;
  }
  .nome {
    width: 238px;
    height: 26px;
  }
}
