.button-submit {
  width: 358px;
  height: 50.1519775390625px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  margin: 34px 36px;
}
.button-submit:hover {
  background-color: #333638;
  cursor: pointer;
}
@media (max-width: 768px) {
  .button__submit {
    width: 238px;
    height: 46px;
    margin: 46px auto 0;
  }
  .submit__button {
    width: 238px;
    height: 46px;
  }
}
