.cards {
  color: #000;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  row-gap: 21px;
  column-gap: 17px;
  width: 880px;
}

.card {
  background-color: #fff;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  position: relative;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__title {
  margin: 25px auto 31px;
  width: 246px;
  height: 23px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
}

.card__unlick {
  width: 21px;
  height: 19px;
  position: absolute;
  bottom: 25px;
  right: 15px;
  cursor: pointer;
}
.card__unlick:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .cards{
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 282px;
    margin: 0 auto;
  }
  .card {
    margin: 0 35px 0 0;
  }
}