.profile {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.8891rem;
  width: 880px;
  height: 120px;
  margin: 40px auto 50px;
}
.profile__container {
  display: flex;
}

.profile__image {
  height: 120px;
  width: 120px;
  margin: 0 30px 0 0;
  
}
.profile__titles {
  display: flex;
  flex-direction: column;
}
.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin: 0 18px 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile__button {
  border: 2px solid #fff;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


@media (max-width: 320px) {
  .profile {
    width: 282px;
    height: 286px;
    align-items: center;
    justify-items: center;
    margin: 42px 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile__titles {
    align-items: center;
    align-content: center;
    margin: 30px 76px 14px 48px;
  }
  .profile__title {
    width: 196px;
    height: 22px;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
  .profile__subtitle {
    width: 282px;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }

  .submit__button {
    width: 238px;
    height: 46px;
  }
  .form__nome {
    width: 238px;
    height: 26px;
  }
  .form__job {
    width: 238px;
    height: 26px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .profile {
    width: 282px;
    height: 286px;
    align-items: center;
    justify-items: center;
    margin: 42px 50% 0;
    display: flex;
    flex-direction: column;
  }
  .profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile__image {
    max-width: 100%;
    margin: 0 auto;
  }
  .profile__titles {
    align-items: center;
    align-content: center;
    margin: 30px 76px 14px 48px;
  }
  .profile__title {
    width: 196px;
    height: 22px;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
  .profile__subtitle {
    width: 282px;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }

  .submit__button {
    width: 238px;
    height: 46px;
  }
  .form__nome {
    width: 238px;
    height: 26px;
  }
  .form__job {
    width: 238px;
    height: 26px;
  }
}
