.button {
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .button {
    width: 282px;
    height: 50px;
  }
  .button__submit {
    width: 238px;
    height: 46px;
    margin: 46px auto 0;
  }
}
